@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --blueColor: #008cff;
  --whiteColor: #ffffff;
  --lightGray: #f7f7f7;
  --textColor: #4c5258;
  --borderColor: #e4e4e4;
  --smallBorder: 0.5rem;
  --bigBorder: 2rem;
  --fs13: 1.3rem;
  --fs14: 1.4rem;
  --fs15: 1.5rem;
  --fs16: 1.6rem;
  --fs20: 2rem;
  --fs30: 3rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: var(--textColor);
  background-color: var(--lightGray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  gap: 2rem;
}

/*Start Aside*/
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: -100rem;
  width: 25rem;
  height: 100vh;
  padding: 0 1.5rem;
  background-color: #0786b6;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(218 218 253 / 65%),
    0 0.2rem 0.6rem 0 rgba(206 206 238 / 54%);
  z-index: 999;
  transition: all 0.3s ease-in-out;
  color: white;
}

.sidebar-wrapper.active {
  left: 0;
}

.sidebar-wrapper .sidebar-header .close-menu {
  position: absolute;
  top: 1%;
  right: -1.6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--blueColor);
  border: 0.7rem solid var(--lightGray);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-wrapper .sidebar-header .close-menu i {
  font-size: var(--fs13);
  color: var(--whiteColor);
}

.sidebar-wrapper .sidebar-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 6rem;
  border-bottom: 0.1rem solid var(--borderColor);
}

.sidebar-wrapper .sidebar-header img {
  width: 4.5rem;
}

.sidebar-wrapper .sidebar-header h4 {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: white;
}

/* Sidebar Scrolling */
.sidebar-wrapper nav {
  height: calc(100vh - 6rem);
  /* Subtract the height of the header */
  overflow-x: auto;
  /* Enable vertical scrolling */
  padding-bottom: 2rem;
  /* Add some padding at the bottom */
}

/* Custom Scrollbar for Sidebar */
.sidebar-wrapper nav::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar */
}

.sidebar-wrapper nav::-webkit-scrollbar-track {
  background-color: var(--lightGray);
  /* Track color */
}

.sidebar-wrapper nav::-webkit-scrollbar-thumb {
  background-color: var(--blueColor);
  /* Thumb color */
  border-radius: 3px;
  /* Rounded corners */
}

.sidebar-wrapper nav::-webkit-scrollbar-thumb:hover {
  background-color: #0077cc;
  /* Darker thumb on hover */
}

.sidebar-wrapper nav ul {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-wrapper nav ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: var(--fs15);
  color: white;
  letter-spacing: 0.05rem;
  border: 0.1rem solid #ffffff00;
  transition: all 0.3s ease-in-out;
}

.sidebar-wrapper nav ul li a i {
  font-size: var(--fs16);
  /* Smaller icon size */
  line-height: 1;
}

.sidebar-wrapper nav ul li a .title {
  text-transform: capitalize;
  flex-grow: 1;
  /* Ensures the title takes up remaining space */
}

.sidebar-wrapper nav ul li a .dropdown-icon {
  font-size: var(--fs14);
  /* Smaller dropdown icon */
  transition: transform 0.3s ease-in-out;
  /* Smooth rotation animation */
}

.sidebar-wrapper nav ul li a:hover {
  color: white;
  background-color: #89ab20;
}

.sidebar-wrapper nav ul li .submenu {
  display: none;
  margin-top: 0.5rem;
  background: #087ca7;
  font-size: 15px;
  padding: 5px 0px;
}

.sidebar-wrapper nav ul li .submenu.active {
  display: block;
}

/* Rotate dropdown icon when submenu is active */
.sidebar-wrapper nav ul li.has-submenu.active .dropdown-icon {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .sidebar-wrapper {
    left: 0;
  }

  .sidebar-wrapper .sidebar-header .close-menu {
    display: none;
  }
}

/*End Aside*/
/*Start Main Content*/
.content {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.content header {
  margin: 1.2rem auto;
}

.content header .header-wrapper {
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 6rem;
  border-radius: var(--smallBorder);
  box-shadow: 0 0 0.375rem 0.25rem rgba(161 172 184 / 15%);
}

.content header .header-wrapper .header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content header .header-wrapper .header-left .toggle-icon i {
  cursor: pointer;
}

.content header .header-wrapper .header-left i {
  color: #697a8d;
  font-size: var(--fs20);
}

.content header .header-wrapper .header-left input {
  background-color: transparent;
  color: #697a8d;
  font-weight: 400;
  font-size: var(--fs16);
  padding: 0.5rem 0.8rem;
  width: 100%;
  outline: none;
  border: none;
}

.content header .header-wrapper .header-left input::placeholder {
  font-size: var(--fs15);
}

.content header .header-wrapper .header-left input:focus::placeholder {
  opacity: 0;
}

.content header .header-wrapper .header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content header .header-wrapper .header-right .star-container {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: var(--smallBorder);
  border: 0.1rem solid rgba(27 31 36 / 0.15);
}

.header-wrapper .header-right .star-container .star-left {
  color: #24292f;
  border-right: 0.1rem solid rgba(27 31 36 / 0.15);
  padding: 0.2rem 0.5rem;
  background-color: #ebf0f4;
}

.header-wrapper .header-right .star-container .star-left i {
  font-size: var(--fs15);
}

.header-wrapper .header-right .star-container .star-left span {
  text-transform: capitalize;
}

.header-wrapper .header-right .star-container .star-right {
  padding: 0.2rem 0.5rem;
}

.header-wrapper .header-right img {
  width: 4rem;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .content {
    margin-left: 27rem;
    padding-left: 0;
  }

  .content .header-wrapper .toggle-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .content header .header-wrapper .header-right {
    gap: 2rem;
  }

  .header-wrapper .header-right .star-container .star-left,
  .header-wrapper .header-right .star-container .star-right {
    padding: 0.5rem 1rem;
  }
}

.main {
  display: grid;
  gap: 2rem;
}

.main .box {
  padding: 1.5rem;
  background-color: var(--whiteColor);
  border-radius: var(--smallBorder);
  box-shadow: 0 0.2rem 0.6rem 0 rgba(67 89 113 / 0.12);
}

.main .box-1 {
  padding: 0;
  display: flex;
  gap: 4rem;
}

.main .box .box-left {
  padding: 1.5rem;
}

.main .box .box-left h4 {
  text-transform: capitalize;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #89ab20;
}

.main .box .box-left p {
  font-size: var(--fs15);
  margin-bottom: 3rem;
}

.main .box .box-left a {
  text-transform: capitalize;
  font-size: var(--fs14);
  color: #89ab20;
  border: 0.1rem solid #89ab20;
  border-radius: var(--smallBorder);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main .box .box-left a:hover {
  background-color: #89ab20;
  color: var(--whiteColor);
}

.main .box .box-right {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.main .box .box-right img {
  display: none;
}

.main .box-2,
.main .box-3,
.main .box-4,
.main .box-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 0.2rem solid #89ab20;
  height: 16rem;
}

.main .box-2,
.main .box-3,
.main .box-4 {
  background-color: var(--whiteColor);
  background: linear-gradient(to right, #89ab20 50%, var(--whiteColor) 50%)
    right;
  background-size: 200%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.main .box-2:hover,
.main .box-3:hover,
.main .box-4:hover {
  background-position: left;
  color: var(--whiteColor);
}

.main .box-5 {
  background-color: #89ab20;
  color: var(--whiteColor);
}

.main .box .box-details {
  text-align: center;
}

.main .box .box-details h4 {
  font-size: var(--fs30);
  font-weight: 600;
  margin-bottom: 1rem;
}

.main .box .box-details span {
  text-transform: capitalize;
  font-size: var(--fs20);
}

.main .box .box-icon i {
  font-size: 4rem;
  color: #89ab20;
  transition: all 0.6s ease-in-out;
}

.main .box-2:hover .box-icon i,
.main .box-3:hover .box-icon i,
.main .box-4:hover .box-icon i {
  color: var(--whiteColor);
}

.box .box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(13 110 253 / 0.12);
}

footer {
  background-color: var(--whiteColor);
  margin-top: 2rem;
  padding: 2rem 0;
  border-radius: var(--smallBorder) var(--smallBorder) 0 0;
}

footer .copyright {
  font-size: var(--fs14);
  text-align: center;
  text-transform: capitalize;
}

/*Responsive*/
@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }

  .box-1 {
    grid-column: span 2;
  }

  .box-6,
  .box-7 {
    grid-column: span 2;
  }

  .box-8 {
    grid-row: 4;
    grid-column: span 2;
  }

  .main .box .box-right img {
    display: block;
    height: 14rem;
    margin-top: 0.8rem;
  }
}

@media (min-width: 1200px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-4 {
    grid-column: 3;
  }

  .box-5 {
    grid-column: 4;
  }

  .box-6 {
    grid-column: 1 / span 4;
    grid-row: 3;
  }

  .box-7 {
    grid-column: 3 / span 2;
  }

  .box-8 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .box-9 {
    grid-row: 4;
  }

  .box-10 {
    grid-column: 2;
    grid-row: 4;
  }
}

/*End Main Content*/

.scroll-top {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: var(--smallBorder);
  background-color: var(--blueColor);
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scroll-top i {
  font-size: var(--fs16);
}

.containers {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background-color: #89ab20;
  color: #ffffff;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 15px;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

h3 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #282c34;
  text-align: left;
  font-size: 20px;
}

.btn i {
  margin-right: 5px;
}

.dataTables_wrapper .dataTables_filter {
  margin-bottom: 10px;
  text-align: right;
  font-size: 16px;
}

.dataTables_wrapper .dataTables_length select {
  width: auto;
  padding: 5px;
}

.dataTables_wrapper .dataTables_paginate {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: #4caf50;
  color: white;
  padding: 4px 8px;
  font-size: 17px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #0072ff;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: #388e3c;
  transform: translateY(1px);
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
  font-size: 13px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_info {
  font-size: 16px;
  color: #282c34;
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }

  table th,
  table td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
  }

  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_paginate {
    text-align: center;
  }
}
.swal-text {
  font-size: 18px !important;
}

.swal-button {
  font-size: 16px !important;
}

.submenu a {
  font-size: 14px !important;
  font-weight: 10;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

select {
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.btn-filter {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-filter:hover {
  background: #218838;
}

.proofButton {
  background: #218838;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
}
